In [18]:
import os 
import feather
os.chdir('/Users/muneebalam/PycharmProjects/scrapenhl/scrapenhl/scrape/')
from scrape_season import *
for team in ['WSH', 'PIT', 'CBJ', 'PHI', 'NYR', 'NYI', 'CAR', 'NJD']:
    fname = get_team_toilog_filename(2016, team)
    df = feather.read_dataframe(fname)
    print(team, len(df['Game'].unique()))

WSH 82

PIT 82

CBJ 82

PHI 82
NYR 82

NYI 82
CAR 82

NJD 82

In [4]:
df.sort_values(by=['Game', 'Index']).head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actor</th>
      <th>ActorRole</th>
      <th>Event</th>
      <th>Index</th>
      <th>Note</th>
      <th>Period</th>
      <th>Recipient</th>
      <th>RecipientRole</th>
      <th>Team</th>
      <th>Time</th>
      <th>XY</th>
      <th>Game</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8627</th>
      <td>-1.0</td>
      <td></td>
      <td>Game Scheduled</td>
      <td>0.0</td>
      <td>Game Scheduled</td>
      <td>1.0</td>
      <td>-1.0</td>
      <td></td>
      <td>-1.0</td>
      <td>00:00</td>
      <td>(nan, nan)</td>
      <td>20007</td>
    </tr>
    <tr>
      <th>8628</th>
      <td>-1.0</td>
      <td></td>
      <td>Period Ready</td>
      <td>1.0</td>
      <td>Period Ready</td>
      <td>1.0</td>
      <td>-1.0</td>
      <td></td>
      <td>-1.0</td>
      <td>00:00</td>
      <td>(nan, nan)</td>
      <td>20007</td>
    </tr>
    <tr>
      <th>8629</th>
      <td>-1.0</td>
      <td></td>
      <td>Period Start</td>
      <td>2.0</td>
      <td>Period Start</td>
      <td>1.0</td>
      <td>-1.0</td>
      <td></td>
      <td>-1.0</td>
      <td>00:00</td>
      <td>(nan, nan)</td>
      <td>20007</td>
    </tr>
    <tr>
      <th>8630</th>
      <td>8474009.0</td>
      <td>Winner</td>
      <td>Faceoff</td>
      <td>3.0</td>
      <td>Nick Bonino faceoff won against Evgeny Kuznetsov</td>
      <td>1.0</td>
      <td>8475744.0</td>
      <td>Loser</td>
      <td>5.0</td>
      <td>00:00</td>
      <td>(0.0, 0.0)</td>
      <td>20007</td>
    </tr>
    <tr>
      <th>8631</th>
      <td>8471214.0</td>
      <td>Hitter</td>
      <td>Hit</td>
      <td>4.0</td>
      <td>Alex Ovechkin hit Brian Dumoulin</td>
      <td>1.0</td>
      <td>8475208.0</td>
      <td>Hittee</td>
      <td>15.0</td>
      <td>00:03</td>
      <td>(-88.0, 38.0)</td>
      <td>20007</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
len(df)

25005

In [4]:
import os 
import feather
os.chdir('/Users/muneebalam/PycharmProjects/scrapenhl/scrapenhl/')
import scrape_season

In [9]:
df = scrape_season.get_team_pbplog(2016, 'WSH')
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actor</th>
      <th>ActorRole</th>
      <th>Event</th>
      <th>Index</th>
      <th>Note</th>
      <th>Period</th>
      <th>Recipient</th>
      <th>RecipientRole</th>
      <th>Team</th>
      <th>Time</th>
      <th>XY</th>
      <th>Game</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-1.0</td>
      <td></td>
      <td>Game Scheduled</td>
      <td>0.0</td>
      <td>Game Scheduled</td>
      <td>1.0</td>
      <td>-1.0</td>
      <td></td>
      <td>-1.0</td>
      <td>00:00</td>
      <td>(nan, nan)</td>
      <td>20096</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-1.0</td>
      <td></td>
      <td>Period Ready</td>
      <td>1.0</td>
      <td>Period Ready</td>
      <td>1.0</td>
      <td>-1.0</td>
      <td></td>
      <td>-1.0</td>
      <td>00:00</td>
      <td>(nan, nan)</td>
      <td>20096</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-1.0</td>
      <td></td>
      <td>Period Start</td>
      <td>2.0</td>
      <td>Period Start</td>
      <td>1.0</td>
      <td>-1.0</td>
      <td></td>
      <td>-1.0</td>
      <td>00:00</td>
      <td>(nan, nan)</td>
      <td>20096</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8476454.0</td>
      <td>Winner</td>
      <td>Faceoff</td>
      <td>3.0</td>
      <td>Ryan Nugent-Hopkins faceoff won against Evgeny...</td>
      <td>1.0</td>
      <td>8475744.0</td>
      <td>Loser</td>
      <td>22.0</td>
      <td>00:00</td>
      <td>(0.0, 0.0)</td>
      <td>20096</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8477444.0</td>
      <td>PlayerID</td>
      <td>Takeaway</td>
      <td>4.0</td>
      <td>Takeaway by Andre Burakovsky</td>
      <td>1.0</td>
      <td>-1.0</td>
      <td></td>
      <td>15.0</td>
      <td>00:33</td>
      <td>(41.0, -30.0)</td>
      <td>20096</td>
    </tr>
  </tbody>
</table>
</div>

In [60]:
from importlib import reload
reload(scrapenhl_globals)

In [63]:
scrapenhl_globals.player_name_to_id('Karlsson')

Found multiple matches for Karlsson
                          Name       ID Team  Count
1502             Erik Karlsson  8474578  OTT    184
4632          William Karlsson  8476448  CBJ     82
3087           Melker Karlsson  8477922  SJS     81
217           Andreas Karlsson  8459571  TBL     66
1710           Henrik Karlsson  8475431  SJS     15
1709           Henrik Karlsson  8475431  CGY     11
1816  Jakob Forsbacka Karlsson  8478417  BOS      2
Selecting Name     Erik Karlsson
ID             8474578
Team               OTT
Count              184
Name: 1502, dtype: object

'8474578'

In [46]:
pname = 'Karlsson' 
team_helper = 'OTT'

In [51]:
from scrapenhl_globals import *
df = get_player_id_file()
df = df[['Name', 'ID', 'Team', 'Count']].groupby(['Name', 'ID', 'Team']).sum() \
    .reset_index().sort_values('Count', ascending=False)

if team_helper is not None:
    if isinstance(team_helper, str):
        team_helper = set(team_helper)

### Exact match
exact = df[df.Name == pname]
if len(exact.ID.unique()) == 1:
    print(exact.ID.iloc[0])
elif len(exact.ID.unique()) > 1:
    if team_helper is None:
        print('Found multiple matches for', pname)
        print(exact)
        print('Selecting', exact.iloc[0, :])
        print(exact.ID.iloc[0])
    else:
        exact_team = exact[exact.Team.isin(team_helper)]
        if len(exact_team) == 1:
            print(exact_team.ID.iloc[0])
        elif len(exact_team) > 1:
            print('Found multiple matches for', pname)
            print(exact_team)
            print('Selecting', exact_team.iloc[0,:])
            print(exact_team.ID.iloc[0])

### Contains match
contains = df[df.Name.str.contains(pname)]
if len(contains.ID.unique()) == 1:
    print(contains.ID.iloc[0])

In [52]:
contains

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>ID</th>
      <th>Team</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1502</th>
      <td>Erik Karlsson</td>
      <td>8474578</td>
      <td>OTT</td>
      <td>183</td>
    </tr>
    <tr>
      <th>4632</th>
      <td>William Karlsson</td>
      <td>8476448</td>
      <td>CBJ</td>
      <td>82</td>
    </tr>
    <tr>
      <th>3087</th>
      <td>Melker Karlsson</td>
      <td>8477922</td>
      <td>SJS</td>
      <td>81</td>
    </tr>
    <tr>
      <th>217</th>
      <td>Andreas Karlsson</td>
      <td>8459571</td>
      <td>TBL</td>
      <td>66</td>
    </tr>
    <tr>
      <th>1710</th>
      <td>Henrik Karlsson</td>
      <td>8475431</td>
      <td>SJS</td>
      <td>15</td>
    </tr>
    <tr>
      <th>1709</th>
      <td>Henrik Karlsson</td>
      <td>8475431</td>
      <td>CGY</td>
      <td>11</td>
    </tr>
    <tr>
      <th>1816</th>
      <td>Jakob Forsbacka Karlsson</td>
      <td>8478417</td>
      <td>BOS</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [58]:
team_helper = 'OTT'
if team_helper is not None:
    if isinstance(team_helper, str):
        team_helper = {team_helper}

In [59]:
contains.Team.isin(set(team_helper))

1502     True
4632    False
3087    False
217     False
1710    False
1709    False
1816    False
Name: Team, dtype: bool

In [56]:
team_helper

{'O', 'T'}